@page
@model ListaAsistencia.Frontend.Pages.ListaAModel
@{
}
<h1>Hola soy Mauricio</h1>
<<<<<<< HEAD
=======
<<<<<<< HEAD
<h1>Hola soy Sergio</h1>
=======
<h1>Hola soy Sharon</h1>
>>>>>>> 22206aa2e173f7356eb0c127f9e6bf52ace54689
>>>>>>> 64e33d22bf685540d0fa96f7b7dc5a27bbf1aac6








<<<<<<< HEAD
<h1>Hola soy Adolfo</h1>
=======










<h1>Hola soy Sharon</h1>
>>>>>>> 64e33d22bf685540d0fa96f7b7dc5a27bbf1aac6
