@page
@model ListaAsistencia.Frontend.Pages.ListaAModel
@{
}
<h1>Hola soy Mauricio</h1>
<<<<<<< HEAD
<h1>Hola soy Sergio</h1>
=======
<h1>Hola soy Sharon</h1>
>>>>>>> 22206aa2e173f7356eb0c127f9e6bf52ace54689


















<h1>Hola soy Sharon</h1>
